.title {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.25rem;
}

.spinner {
    margin-top: 1rem;
}

.lunarDistanceTypeRadioContainer {
    margin-top: 0.5rem;
}

.lunarDistanceTypeRadio {
    cursor: pointer;
}

.lunarDistanceTypeRadio__selected {
    text-decoration: underline;
    cursor: default;
}
